@charset "UTF-8";
@import "settings";
@import "foundation/variables";



// Foundation Components
  @import "foundation/components/global";
  @import "foundation/components/grid";
  @import "foundation/components/visibility";
  @import "foundation/components/block-grid";
  @import "foundation/components/type";
  @import "foundation/components/buttons";
  @import "foundation/components/forms";
  //@import "foundation/components/custom-forms";
  //@import "foundation/components/button-groups";
  //@import "foundation/components/dropdown-buttons";
  @import "foundation/components/split-buttons";
  //@import "foundation/components/flex-video";
  @import "foundation/components/section";
  @import "foundation/components/top-bar";
  @import "foundation/components/orbit";
  //@import "foundation/components/reveal";
  //@import "foundation/components/joyride";
  //@import "foundation/components/clearing";
  //@import "foundation/components/alert-boxes";
  //@import "foundation/components/breadcrumbs";
  //@import "foundation/components/keystrokes";
  //@import "foundation/components/labels";
  @import "foundation/components/inline-lists";
  //@import "foundation/components/pagination";
  @import "foundation/components/panels";
  @import "foundation/components/pricing-tables";
  //@import "foundation/components/progress-bars";
  @import "foundation/components/side-nav";
  @import "foundation/components/sub-nav";
  @import "foundation/components/switch";
  //@import "foundation/components/magellan";
  @import "foundation/components/tables";
  //@import "foundation/components/thumbs";
  //@import "foundation/components/tooltips";
  @import "foundation/components/dropdown";



/* Logo */ 
.brand {
    padding: 20px 0;
    white-space: nowrap;
    
    span {
        color:#000;
        font-size: emCalc(30px);
        font-weight: bold;
    }
}

/* Search form in the navbar  */ 
.search-form {
    width:250px;
    margin: 0 15px;
}

/* Slider 3rd party navigation */
.infopanel {
    @include panel(#e9f6fc);
    font-size: emCalc(14px);
}

.slider-secondary-bg {
    background:#333;
    padding: 15px 0;
    margin:15px 0;
}

/* Slider with side navigation */
.slider-nav {
    background:lighten(#000, 20%);
    padding: 0;
    
    li {
        margin: 0 0 2px 0;
        padding: 0;


        a {
            background:lighten(#000, 30%);
            padding: 2%;
            color: #fff;

            &:hover {
                background:lighten(#000, 40%);
            }
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 500px;
        }

        .price {
            font-size: emCalc(12px);
            color: lighten(#000, 50%);
        }
    }

    .thumb {
        display: block;
        border: solid 1px #ccc;
        position: relative;
        width: 50px;
        height:40px;
        overflow: hidden;
        float: left;
        margin-right: 10px;
    }

}

/* The grid with products */
.product-listing {
    margin-top: 0;
    .thumbnail {
        border: solid 1px #ccc;
        padding: 5px;
        display: block;
        text-align: center;

        strong {
            font-size: emCalc(14px);
            color: #000;
            font-weight: normal;
        }
    }
}

















