<div class="row">
	<div class="span16">
		<h1>Thank you!</h1>
		<p>
			Your order was successfully saved. If you have any questions please <a href="mailto:{{ settings.store.contact_email }}">email us</a>.
		</p>

		{% if order.downloads_exist %}
			<div class="download-list alert alert-success">
				<strong>Your downloads are ready:</strong>
				<ul>
				{% for item in order.order_item %}
					{% if item.download %}
						<li><a href="{{ item.download }}">{{ item.name }}</a></li>
					{% endif %}
				{% endfor %}
				</ul>
			</div>
		{% endif %}
	</div>
</div>
